.gui {
  padding: 12px;
  color: white;
  width: 100vw;
  max-width: 640px;
  margin: 0px auto;
  position: fixed;
  z-index: 2;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.section {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
