.cardContainer {
  perspective: 1000px;
  transition: transform 0.3s ease;
  display: inline-block;
}

.card {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transition: all 0.3s ease, box-shadow 0.3s ease;
  transform: rotateY(15deg) rotateX(15deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.cardContainer:hover .card {
  transform: rotateY(12deg) rotateX(12deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}
